div.row
	form.form-search.form-horizontal.pull-right(action="/search/",method="get")
		input.input-medium.span3.search-query.searchbar(type="text", name="sq",placeholder="Search Something...")
		button.span2.btn.pull-right(type="submit") search
